@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

main {
   font-family: 'Montserrat', sans-serif;
}

.container_shop {
   max-width: 1300px;
   margin: 0 auto;
}

.top_subheader_p {
margin-top: 36px;
font-size: 15px;
font-weight: 700;
line-height: 16px;
display: flex;
}

.top_subheader_p span {
   display: block;
   font-size: 15px;
   font-weight: 400;
   line-height: 16px;   
}

